@import "../../global.scss";

.portfolioList {
    margin-right: 50px;
    font-size: 16px;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;

    @include mobile{
      font-size: 14px;
      margin-right: 10px;
    }

    &.active {
      background-color: $mainColor;
      color: white;
    }
  }